#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: .5rem; */
  /* text-align: center; */
}

#people {
  display: grid;
  grid-template-columns: 1fr;
}

#items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  display: block
}